<form id="postForm">
  <div class="form-group">
    <label for="postTitle">Post Title</label>
    <input type="text" class="form-control" name="postTitle" id="postTitleLable" placeholder="Post Title">
  </div>
  <div class="form-group">
    <label for="postBody">Post Text</label>
    <textarea type="text" class="form-control" id="postBody" name="postBody" placeholder="Post Text" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="postSubmit">Submit</button>
</form>

<script src="/js/createpost.js"></script>